#Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=younr-secret-key-here

# Database Configurattion
DATABASE_URL=sqlite:///threat_intelligence.db

#API Keys
SHODAN_API_KEY=your_shoda_api_key
VIRUSTOTAL_API_KEY=your_virustotal_api_key
ABUSEIPDB_API_KEY=your_abuseipdb_api_key

#logging
LOG_LEVEL=INFO 
